# OS

# ===========

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

*.Rhistory
*.RData

# Books
# =====
artofdatascience.pdf
rprogramming.pdf
exdata.pdf

# Assignments
# ===========
*prv*
courses/

# Heavy data files
# ================
02_RProgramming/assignments/week2/specdata
02_RProgramming/assignments/week4/*.csv
04_ExploratoryAnalysis/assets/pm25_data/*.txt
04_ExploratoryAnalysis/assignments/week1/household_power_consumption.txt
04_ExploratoryAnalysis/assignments/week4/data