# OS
# ===========

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

*.Rhistory
*.RData


# Books
# =====
artofdatascience.pdf
rprogramming.pdf
exdata.pdf
reportwriting.pdf
datastyle.pdf
LittleInferenceBook.pdf
regmods.pdf
lm.pdf

Faraway-PRA.pdf
Linear Models with R - Julian J. Faraway.pdf


# Quizz & Data
# ============
data/
*quizz*
*_cache/
*_files/

# Temp
# ====
raw_courses/
practice/
.Rproj.user
